<div class="m-0 mx-auto w-10">

    <div class="flex justify-content-between mt-4">
        <div class="w-2">
            <input type="text" class="input-control" placeholder="Buscar">
        </div>
        <button class="button-primary">Agregar</button>
    </div>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Nombre del producto</th>
                    <th class="tooltip">
                        Descripción
                        <i class="fas fa-info-circle"></i>
                        <span class="tooltip-box">Descripción</span>
                    </th>
                    <th class="tooltip">
                        Fecha de liberación
                        <i class="fas fa-info-circle"></i>
                        <span class="tooltip-box">Fecha de liberación</span>
                    </th>
                    <th class="tooltip">
                        Fecha de restructuración
                        <i class="fas fa-info-circle"></i>
                        <span class="tooltip-box">Fecha de restructuración</span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Data 1</td>
                    <td>Data 2</td>
                    <td>Data 3</td>
                    <td>Data 4</td>
                    <td>Data 4</td>
                    <td><i class="fas fa-ellipsis-v"></i></td>
                </tr>

            </tbody>
        </table>
        <div class="paginator flex justify-content-between align-items-center">
            <p class="results">5 resultados</p>
            <div class="select-container">
                <select class="input-control">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
            </div>
        </div>
    </div>

</div>

<div class="btn-modal">
    <label for="check-modal">Abrir modal</label>
</div>

<input type="checkbox" id="check-modal">
<div class="container-modal">
    <div class="content-modal">
        <div class="content-header">
            <h2>Bienvenido</h2>
        </div>
        <div class="content-body">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi sunt quisquam amet inventore pariatur molestiae culpa perspiciatis, facere non voluptatibus minima ab enim officia doloremque ratione quasi reiciendis consequatur hic.</p>
        </div>
        <div class="content-footer">
            <label for="check-modal">Cerrar</label>
        </div>
    </div>
</div>