<div class="m-0 mx-auto w-10">

    <div class="flex justify-content-between mt-4">
        <div class="input-group w-2">
            <input [formControl]="search" (ngModelChange)="searching()" type="text" class="input-control" placeholder="Buscar">
        </div>
        <button routerLink="/add-product" class="button-primary">Agregar</button>
    </div>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Nombre del producto</th>
                    <th class="tooltip">
                        Descripción
                        <i class="fas fa-info-circle"></i>
                        <span class="tooltip-box">Descripción</span>
                    </th>
                    <th class="tooltip">
                        Fecha de liberación
                        <i class="fas fa-info-circle"></i>
                        <span class="tooltip-box">Fecha de liberación</span>
                    </th>
                    <th class="tooltip">
                        Fecha de restructuración
                        <i class="fas fa-info-circle"></i>
                        <span class="tooltip-box">Fecha de restructuración</span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for(product of products; track $index) {
                    <tr>
                        <td>
                            <img width="50" [src]="product.logo" alt="">
                        </td>
                        <td>{{product.name}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.date_release}}</td>
                        <td>{{product.date_revision}}</td>
                        <td>
                            <div class="context-menu">
                                <i (click)="setProduct(product)" class="fas fa-ellipsis-v"></i>
                                @if(showContextMenu && selectProduct.id === product.id) {
                                    <ul>
                                        <li>
                                            <label (click)="selectProduct = product" for="check-modal">
                                                Eliminar
                                            </label>
                                        </li>
                                        <li>
                                            <p [routerLink]="'/edit-product/' + product.id">Editar</p>
                                        </li>
                                    </ul>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if(products && products.length === 0) {
            <div class="not-found-text m-0 mt-4 mx-auto">
                <p>No se encontraron resultados</p>
            </div>
        }
        <div class="filters flex justify-content-between align-items-center">
            <p class="results">{{products ? products.length : 0}} resultados</p>
            <div class="paginator flex justify-content-between w-1">
                <i (click)="changePage(page >= 2 ? page - 1 : page)" class="fas fa-arrow-left"></i>
                <ul>
                    @for(p of pages; track $index) {
                        <li (click)="changePage(p)" [ngClass]="{'active': p === page}">{{p}}</li>
                    }
                </ul>
                <i (click)="changePage(page < pages.length ? page + 1 : page)" class="fas fa-arrow-right"></i>
            </div>
            <div class="select-container">
                <select [formControl]="quantity" (ngModelChange)="quantityProducts()" class="input-control">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </div>
        </div>
    </div>

</div>

<input type="checkbox" id="check-modal">
<div class="container-modal">
    <div class="content-modal">
        <div class="content-header">
            <h2>Eliminar producto</h2>
        </div>
        <div class="content-body">
            <p>¿Estas seguro de eliminar el producto {{ selectProduct?.name }}?</p>
        </div>
        <div class="content-footer">
            <label class="button-secondary mr-2" for="check-modal">Cerrar</label>
            <label (click)="delete(selectProduct.id)" class="button-primary" for="check-modal">Eliminar</label>
        </div>
    </div>
</div>