
.table-container {
    background-color: white;
    overflow-x: auto;
    scrollbar-color: gray white;
    scrollbar-width: thin;
    padding: 20px;
    margin-top: 20px;
}

.table-container::-webkit-scrollbar {
    height: 8px;
}

.table-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

tr > th {
    background-color: #f4f6f9;
}

tr > td {
    background-color: white;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ececec;
}

th {
    color: #3e3e3e;
    font-weight: bold;
    position: relative;
}

.filters {
    background-color: white;
    .results {
        background-color: white;
    }
}

.not-found-text {
    text-align: center;
    
}

.paginator {
    cursor: pointer;
    i {
        margin: 0 10px;
    }
    ul {
        list-style: none;
        display: flex;
        li {
            margin: 0 10px;
            color: #cecece;
        }
        .active {
            color: #000;
        }
    }
}

.context-menu {
    position: relative;
    i {
        cursor: pointer;
    }
    ul {
        list-style: none;
        position: absolute;
        left: -60px;
        bottom: 20px;
        li {
            background-color: white;
            width: 80px;
            padding: 5px 10px;
            cursor: pointer;
            label {
                cursor: pointer;
            }
        }
    }
}