<div class="form w-8 m-0 mx-auto mt-4">
    <h2 class="form-title">Formulario de registro</h2>
    <br>
    <hr>
    <form class="grid" action="">
        <div class="input-group col-6">
            <label class="input-label" for="id">ID</label>
            <input type="text" class="input-control" >
            <small class="text-red">ID no válido</small>
        </div>
        <div class="input-group col-6">
            <label class="input-label" for="name">Nombre</label>
            <input type="text" class="input-control" >
        </div>
        <div class="input-group col-6">
            <label class="input-label" for="description">Descripción</label>
            <input type="text" class="input-control" >
        </div>
        <div class="input-group col-6">
            <label class="input-label" for="logo">Logo</label>
            <input type="text" class="input-control" >
        </div>
        <div class="input-group col-6">
            <label class="input-label" for="date_release">Fecha liberación</label>
            <input type="text" class="input-control" >
        </div>
        <div class="input-group col-6">
            <label class="input-label" for="date_revision">Fecha revisión</label>
            <input type="text" class="input-control" >
        </div>
    </form>
    <div class="buttons flex justify-content-center mt-4">
        <button class="button-secondary mr-2">
            Reiniciar
        </button>
        <button class="button-primary">
            Enviar
        </button>
    </div>
</div>
